:root.theme-dark {
  --accent-major-color: #f1b2ce;
  --accent-backgoun-title: #ff0070; /*фон заголовков и 1 параграфа*/
  --accent-content-title-color: #ff0070;
  --accent-header-title-color: #db00ff;
  --accent-minor-color: #000028;
  --accent-button-color: #ff0070;
  --accent-button-color-hover: rgb(255 0 112 / 0.4);
  --accent-image: url(/images/cover-image-dark.png);
}

/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
  */

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
    */
}

@media (prefers-color-scheme: dark) {

  .theme_auto .psevdo::before {
    position: absolute;
    content: 'REC';
    left: calc(100% - 60px);
    bottom: calc(100% - 24px);
  }

  .theme_auto .psevdo::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--accent-backgoun-title);
    border-radius: 50%;
    filter: drop-shadow(0 0 4px var(--accent-backgoun-title));
    left: calc(100% - 18px);
    bottom: calc(100% - 18px);
  }
}

.theme_dark .psevdo::before {
  position: absolute;
  content: 'REC';
  left: calc(100% - 60px);
  bottom: calc(100% - 34px);
  color:#ff0070
}

.theme_dark .psevdo::after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--accent-backgoun-title);
  border-radius: 50%;
  filter: drop-shadow(0 0 4px var(--accent-backgoun-title));
  left: calc(100% - 18px);
  bottom: calc(100% - 28px);
}
