.page {
  font-size: 18px;
  color: var(--accent-major-color, pink);
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  background-image: var(--accent-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--accent-fone);
}

.decoration-corner::before {
  position: absolute;
  content: '';
  border-right: 1px solid var(--accent-button-color);
  border-top: 1px solid var(--accent-button-color);
  inline-size: 25px;
  block-size: 25px;
  right: var(--accent-offset-size);
  top: var(--accent-offset-size);
}

.decoration-corner::after {
  position: absolute;
  content: '';
  border-left: 1px solid var(--accent-button-color);
  border-bottom: 1px solid var(--accent-button-color);
  inline-size: 25px;
  block-size: 25px;
  left: var(--accent-offset-size);
  bottom: var(--accent-offset-size);
}

.psevdo::after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--accent-background);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-background);
  right: clamp(17px, (((14.5vw * 100)/ 375)), 28px);
  top: clamp(17px, (((14.5vw * 100)/ 375)), 28px);
  visibility: var(--accent-visibility);
}

.psevdo::before {
  position: absolute;
  content: 'REC';
  right: clamp(35px, (((35vw * 100)/ 375)), 45px);
  top: var(--accent-offset-size);
  color: #ff0070;
  visibility: var(--accent-visibility);
}

.header,
.main,
.footer {
  padding-inline: var(--accent-offset-size);
}

.main,
.footer {
  margin-block-start: clamp(40px, (40vw * 100)/ 375, 60px);
}

.title-decor {
  background-color: var(--accent-background);
  font-weight: 700;
  color: var(--accent-minor-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  align-items: center;
  padding-block: var(--accent-offset-size);
}

.header__theme-menu {
  color: var(--accent-background);
  justify-self: end;
  grid-column-start: 2;
  align-self: center;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-button-color);
  border: none;
  padding-inline: 12px;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--accent-button-color-hover);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-button-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-button-color);
  margin-bottom: -1px;
}

.header__theme-menu-list {
  display: grid;
  gap: 11px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: clamp(50px, (40vw * 100)/ 376, 80px);
}

.content__text-block {
  display: grid;
  gap: 20px;
}

.major__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  color: var(--accent-header-title-color);
}

.header__title {
  grid-column-start: 1;
  grid-column-end: 3;
}

.header .paragraph__content {
  grid-column-start: 1;
  grid-column-end: 3;
  block-size: fit-content;
}

.content__text-block .paragraph__content {
  margin-block-start: -10px;
}

.paragraph__content-artice {
  text-decoration: none;
}

.paragraph__content-artice:hover {
  border-bottom: 1px solid var(--accent-major-color);
}

.paragraph__content-artice:focus {
  outline: none;
}

.paragraph__content-artice:focus-visible {
  outline: 1px solid var(--accent-major-color);
}

.content__title {
  color: var(--accent-content-title-color);
  font-size: inherit;
}

.paragraph__title {
  font-size: inherit;
}

.content__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article .title-decor {
  font-weight: 400;
}

.content__img-block {
  display: grid;
  gap: var(--accent-offset-size);
  grid-auto-flow: row dense;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-block: var(--accent-offset-size);
}

.header,
.footer {
  block-size: 100vh;
  width: 100%;
  min-block-size: 668px;
}

.major__shadow {
  text-shadow: 4px 4px 0 var(--accent-background);
}

.minor__shadow {
  text-shadow: 2px 2px 0 var(--accent-background);
}

@media (767px < width) {

  .major__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header .paragraph__content {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .content__text-block {
    grid-template-columns: repeat(3, 1fr);
  }

  .block-column .content__title {
    grid-row: 1/5;
  }

  .block-column .paragraph__content,
  .block-column .paragraph__title,
  .block-column .article {
    grid-column: 2/4;
  }

  .content__img-block .paragraph__title {
    grid-column: 1/4;
  }

  .content__picture:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .content__picture:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .content__picture:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/6;
  }

  .content__picture:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .content__picture:nth-of-type(5) {
    grid-column: 2/4;
    grid-row: 4/6;
  }
}

@media (767px < width <1024px) {

  .block-row .content__title {
    grid-column: 1/2;
    width: 60%;
  }

  .block-row .paragraph__content,
  .block-row .paragraph__title {
    grid-column: 1/4;
  }

  .block-column .paragraph__title,
  .block-column .paragraph__content {
    margin-inline-start: 5px;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .block-row .content__title {
    width: 100%;
    grid-column: 1/2;
  }

  .block-row .paragraph__title {
    grid-row-start: 2;
  }

  .block-row .paragraph__content {
    grid-row-start: 3;
  }

  .paragraph__content.title-decor {
    padding-inline-end: none;
  }
}
